<% for (let i = 0; i < profiles.length; i++) { %> <% if(profiles[i].id ===
profileId) { %> 
    <h2><%= profiles[i].name%> </h2>
    <img src="<%= profiles[i].imagePath %>" width="500px"/>
<ul>
  <% for (let j = 0; j < profiles[i].interests.length; j++) { %>
  <li><%= profiles[i].interests[j]%></li>
  <% } %>
</ul>
<% } %> <% } %>
