<div style="padding: 10%;"></div>
<div class="text-center h-100" style="margin: auto;">
    <h1 class="display-4 align-self-center">Welcome to the Yearbook</h1>
    <h2 class="lead w-100 align-self-center">A place to connect.</h2>
    <a class="btn btn-primary btn-lg" href="/user/login" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="/user/register" role="button">Register</a>
</div>